[package]
name = "scylla-cdc-test-utils"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.48"
chrono = "0.4.19"
scylla = "0.12.0"
